h1 {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    color: black;
    background-color: aqua;
    padding: 20px;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}

div {
    padding: 5px;

}

input {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: large;
}